@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 m-auto">
            <div class="border p-3 rounded-3">
                <h3>Kart Bilgileri</h3>
                <hr />
                <form method="post" id="payment-form">
                    <div d-flex flex-column gap-3>
                        <input type="hidden" name="installment" value="1"/>
                        <div>
                            <label for="">Ad Soyad</label>
                            <input type="text" name="CardHolderName" id="cardHolder" class="form-control"/>
                        </div>
                        <div>
                            <label for="">Kart Numarası</label>
                            <input type="text" name="CardNumber" id="cardNumber" class="form-control" maxlength="19" placeholder="XXXX XXXX XXXX XXXX"/>
                        </div>
                        <div class="d-flex flex-column flex-md-row gap-2">
                            <div>
                                <label for="">Ay</label>
                                <input type="text" name="ExpiryMonth" id="expiryMonth" class="form-control" maxlength="2" placeholder="XX"/>
                            </div>
                            <div>
                                <label for="">Yıl (Son 2 hane)</label>
                                <input type="text" name="ExpiryYear" id="expiryYear" class="form-control" maxlength="2" placeholder="XX" />
                            </div>
                        </div>
                        <div>
                            <label for="">Cvc</label>
                            <input type="text" name="Cvc" id="cvc" class="form-control" maxlength="4"/>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="mb-0"><b>Tutar : </b></p>
                        <p class="mb-0" id="price-text" data-price="1250">1.250,00 TL</p>
                    </div>
                    <hr />
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-light w-100" onclick="clearForm()">Temizle</button>
                        <button type="button" class="btn btn-primary w-100" onclick="payButton(this)">Ödeme Yap</button>
                    </div>
                </form>

                <div class="alert alert-danger mt-3 d-none"></div>
                <hr />
                <div>
                    <button type="button" class="btn btn-link w-100" onclick="getInstallment(this)">Taksit Oranlarını Gör</button>
                </div>
                <div id="installment-table-container" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
    async function payButton(button) {
        button.disabled = true;
        button.textContext = "Ödeme Yapılıyor...";

        const form = document.getElementById("payment-form");
        const formData = new FormData(form);

        try {
            const url = "/home/payment";
            let response = await fetch(url, {
                method: "POST",
                body: formData
            });

            let result = await response.json();
            if (result.success) {
                document.open();
                document.write(result.htmlContent);
                document.close();
            } else {
                const alertBox = document.querySelector(".alert");
                alertBox.textContent = result.message;
                alertBox.classList.remove("d-none");
                setTimeout(() => alertBox.classList.add("d-none"), 3000);
            }
        } catch (error) {
            alertBox.textContent = "Bir hata oluştu. Lütfen tekrar deneyiniz.";
            alertBox.classList.remove("d-none");
            setTimeout(() => alertBox.classList.add("d-none"), 3000);
        }

        finally {
            button.disabled = false;
            button.textContent = "Ödeme Yap";
        }
    }
</script>